[submodule "spade"]
	path = spade
	url = https://gitlab.com/spade-lang/spade.git
[submodule "fzcmd"]
	path = fzcmd
	url = https://gitlab.com/TheZoq2/fzcmd.git
[submodule "f128"]
	path = f128
	url = https://github.com/jkarns275/f128.git
[submodule "material-icons"]
	path = material-icons
	url = https://github.com/fschutt/material-icons
