[workspace]
resolver = "2"

members = [
    "surfer",
]
exclude = [
    ".cache", # include such that packages downloaded into the CI cache are ignored
    "f128",
    "fzcmd",
    "instruction-decoder",
]
default-members = ["surfer"]

[profile.release]
opt-level = 3 # fast and small wasm

# Optimize all dependencies even in debug builds:
[profile.dev.package."*"]
opt-level = 3
debug = false
