[package]
name = "surfer"
version = "0.1.0"
edition = "2021"
license-file = "LICENSE-EUPL-1.2.txt"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
asm_riscv = "0.2.0"
bytes = "1.5.0"
camino = { version = "1.1.6", features = ["serde1"] }
chrono = "0.4.31"
clap = { version = "4.4.10", features = ['derive'] }
color-eyre = "0.6.2"
config = "0.13.4"
derivative = "2.2.0"
directories = "5.0"
eframe = "0.24.1"
egui_extras = "0.24.2"
egui_plot = "0.24.2"
enum-iterator = "1.4.1"
f128 = { path = "f128", optional = true }
fastwave_backend = { path = "FastWaveBackend" }
fern = { version = "0.6.2", features = ["colored"] }
futures-core = "0.3.29"
futures-util = "0.3.29"
fuzzy-matcher = "0.3.7"
fzcmd = { path = "fzcmd" }
half = "2.3.1"
human-sort = "0.2.2"
itertools = "0.11.0"
log = "0.4"
material-icons = {git = "https://github.com/fschutt/material-icons.git"}
num = "0.4"
progress-streams = "1.1.0"
rayon = "1.8.0"
regex = "1.10.2"
reqwest = { version = "0.11.22", features = ["stream"] }
rfd = { version = "0.12.1", default-features = false, features = ["xdg-portal"] }
ron = { version = "0.8.1", features = ["integer128"] }
serde = { version = "1.0.193", features = ["derive"] }
serde_stacker = "0.1"
softposit = "0.4.0"
spade = { path = "spade/spade-compiler" }
spade-common = { path = "spade/spade-common" }
spade-hir-lowering = { path = "spade/spade-hir-lowering" }
spade-mir = { path = "spade/spade-mir" }
spade-types = { path = "spade/spade-types" }
tokio = { version = "1.34.0", features = ["rt", "time"] }
toml = "0.8.8"
vcd-translate = { path = "spade/vcd-translate" }
web-sys = { version = "0.3.66", features = ["Location", "UrlSearchParams"] }

[features]
default = []
f128 = ["dep:f128"]

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1.6"
tracing-wasm = "0.2"
wasm-bindgen-futures = "0.4"
wasm_thread = { version = "0.2.0", features = ["es_modules"] }

[dev-dependencies]
base64 = "0.21.4"
dssim = "3.2.4"
# egui_skia = {version = "0.4.0", features = ["cpu_fix"]}
egui_skia = { git = "https://github.com/TheZoq2/egui_skia.git", features = ["cpu_fix"] }
env_logger = "0.10.0"
image = "0.24.7"
imgref = "1.9.4"
project-root = "0.2.2"
rgb = "0.8.37"
skia-safe = "0.69.0"
test-log = "0.2.13"

[profile.release]
opt-level = 3 # fast and small wasm

# Optimize all dependencies even in debug builds:
[profile.dev.package."*"]
opt-level = 3

[build-dependencies]
vergen = { version = "8.2.6", features = ["build", "git", "gitcl"] }
